<h1> All the Gardens</h1>

<ul>
	<% @gardens.each do|garden| %>
		<li>
		<%= link_to "Name: #{garden.name}, Location: #{garden.location}", garden_path(garden.id) %>
		
		
		 </li>
	<% end%>
</ul>

<a title="shopify site analytics"
href="http://statcounter.com/shopify/" target="_blank"><img
src="http://c.statcounter.com/10235692/0/e659b6e5/1/"
alt="shopify site analytics" style="border:none;"></a>