<h1> <%= @garden.name  %>   </h1>

<%= @garden.location %>
<%= link_to "EDIT", edit_garden_path %>

 <% @all_vegetables.each do|v| %> 






 <% end %>

 <%= link_to "Add", new_vegetable_path %>


 <p> THIS IS PRACTICE</p>